body {
    /* background-color: #e2e8f0; */
    /* background-color: yellowgreen; */
    background: rgb(226,232,240);
    background: radial-gradient(circle, rgba(226,232,240,1) 0%, rgba(237,244,252,1) 100%);
    text-shadow: 0 1px 0 #0000;
}

/* p {
    font-size: 1.8rem;
} */

header {
    border-bottom: 1px solid #C9CFD6;
}

.content-container {
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.dash-container, .dashboard-future {
    background: rgb(155,202,251);
    background: radial-gradient(circle, rgba(155,202,251,1) 0%, rgba(80,161,249,1) 100%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.dashboard-current-container {
    margin: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* .dashboard-future-container {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} */

.dashboard-future {
    margin: 10px auto 10px auto;
}

.myForm {
    margin: 50px auto 50px auto;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

.history-glass-container, .dashboard-future-container {
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.history-container {
    text-align: center;
    margin-top: 2%;
}

.history-btn-size {
    margin-top: 5px;
    margin-bottom: 5px;
}
